@media (max-width: 576px)
{
  
}

@media (min-width: 768px)
{
    #link-redes {
        border-radius: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 992px)
{
    #link-redes {
        border-radius: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

